

<div class="container rend">
    <br />
    <div class="row border1 " id="prevee">
        <div class="col-md-12">
            <div class="col-md-4">
                <img class="bbva" src="~/Content/Imagen/bbva.jpg" />
            </div>
            <div class="col-md-6">
                <h2>PROGRAMA PREVEE SEM 20-B</h2>
            </div>
            
        </div>
        <div class="col-md-12 border2">
            <table class="table">
                <tr>
                    <td>
                        Nombre del Cliente
                    </td>
                    <td>
                        CIE
                    </td>
                    <td>
                        Importe
                    </td>
                </tr>
                <tbody>
                    <tr>
                        <td>
                            <b>Colegio de Bachilleres del Estado de Chihuahua</b>
                        </td>
                        <td class="infoImport">
                            <b>1492756</b>
                        </td>
                        <td class="infoImport">
                            <b>$90.00</b>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-12">
            <br />
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <ul class="list-group">
                    <li class="list-group-item ">Referencia: <b class="infoImport"></b> </li>
                    <li class="list-group-item">Concepto: <b class="infoImport">SÁENZ MONTELONGO DANIELA</b></li>
                </ul>

            </div>
            <div class="col-md-5">
                <ul class="list-group">
                    <li class="list-group-item">Matrícula: <b>99110000</b> </li>
                    <li class="list-group-item">Grupo: <b>203</b></li>
                </ul>
            </div>
            <div class="col-md-12 text-center">
                <h2>
                    FICHA DE DEPÓSITO  <strong><u>INTRANSFERIBLE</u></strong>,  AMPARA ÚNICAMENTE LA MATRÍCULA Y EL PERIODO AQUÍ IMPRESOS. NO ES VALIDA PARA PAGAR SEMESTRES ANTERIORES.
                </h2>
            </div>
        </div>
    </div>
</div>

